<main class="main">
  <div class="main__container">
    <form class="main__form form">
      <div class="form__item">
        <select
          [(ngModel)]="currencyForm.first.title"
          name="firstCurrencyTitle"
          (ngModelChange)="updateInputs()"
          class="form__select"
        >
          <option value="USD">American dollar</option>
          <option value="EUR">Euro</option>
          <option value="UAH">Ukrainian hryvnia</option>
        </select>
        <input
          type="number"
          [(ngModel)]="currencyForm.first.value"
          name="firstCurrencyValue"
          (ngModelChange)="calcSecondValue()"
          autocomplete="off"
          placeholder="100.00"
          class="form__number-input"
          (focus)="setCurrentInput($event)"
        />
      </div>
      <div class="form__item">
        <select
          [(ngModel)]="currencyForm.second.title"
          name="secondCurrencyTitle"
          (ngModelChange)="updateInputs()"
          class="form__select"
        >
          <option value="UAH">Ukrainian hryvnia</option>
          <option value="USD">American dollar</option>
          <option value="EUR">Euro</option>
        </select>
        <input
          type="number"
          [(ngModel)]="currencyForm.second.value"
          name="secondCurrencyValue"
          (ngModelChange)="calcFirstValue()"
          autocomplete="off"
          placeholder="100.00"
          class="form__number-input"
          (focus)="setCurrentInput($event)"
        />
      </div>
    </form>
  </div>
</main>
